body {
    font-size: 18px;
}

/* styling for navigation bar */
ul {
    display: flex;
    list-style: none;
}

li {
    margin: 15px;
}

/* styling for table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
  border: 1px solid gray;
  text-align: left;
  padding: 10px;
}

.login-form--container {
    width: 40%;
    margin: auto;
}

.login-from--title {
    text-align: center;
}